<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Seek</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <header>
        <input type=" search" placeholder="Search videos" />
    </header>
    <main>
        <div class="grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))]">
            <div>
                <div>
                    <img alt="placeholder">
                </div>
                <div>
                    Title of Video
                </div>
            </div>
            <div>
                <div>
                    <img alt="placeholder">
                </div>
                <div>
                    Title of Video
                </div>
            </div>
        </div>
    </main>
</body>

</html>
